@media(max-width: 608px){
    body {
        transform: scale(0.9);
    }
    #name {
        top: 420px;
    }
    #year {
        border: 2px solid black;
    }
}

@media(max-width: 545px){
    body {
        transform: scale(0.8);
    }
    #name {
        top: 420px;
    }
}

@media(max-width: 485px){
    body {
        transform: scale(0.7);
    }
    #name {
        top: 420px;
    }
}

@media(max-width: 438px){
    header h1{
        font-size: 30px;
    }

    #name {
        top: 395px;
    }
}

@media(max-width: 435px){
    header h1{
        font-size: 28px;
    }
    body {
        transform: scale(0.6);
        margin: 0;
    }
    #name {
        top: 393px;
    }
}

@media(max-width: 365px){
    body {
        transform: scale(0.5);
        margin: 0;
    }
}